{{define "builds"}}
builds:
  - id: std
    ldflags:
      - -X {{.Branchvals.VersionPackage}}.Version={{`{{.Version}}`}}
      - -X {{.Branchvals.VersionPackage}}.Commit={{`{{.FullCommit}}`}}
      - -X {{.Branchvals.VersionPackage}}.BuildDate={{`{{.Date}}`}}
      - -X {{.Branchvals.VersionPackage}}.BuiltBy=goreleaser
    goos:
      - linux
    goarch:
      - amd64
      - arm64
      - s390x
    binary: {{.Binary}}
{{end}}

