{{define "builds"}}
builds:
  - id: std
    ldflags:
      - -X {{.Branchvals.VersionPackage}}.{{.Branchvals.VersionKeys.Version}}={{`{{.Version}}`}} -X {{.Branchvals.VersionPackage}}.{{.Branchvals.VersionKeys.Commit}}={{`{{.FullCommit}}`}} -X {{.Branchvals.VersionPackage}}.{{.Branchvals.VersionKeys.BuildDate}}={{`{{.Date}}`}} -X {{.Branchvals.VersionPackage}}.builtBy=goreleaser
    goos:
      - linux
    goarch:
      - amd64
      - arm64
      - s390x
    binary: {{.Binary}}
{{end}}

