{{ define "gpac" }}
These changes should be limited to the `repo-policy/` directory and `.github/workflows/pac.yml` file. This PR should be merged manually once the terraform manifest is applied by the SysE team and all branch protection rules are satisfied.

For more information about gpac and release branches please go to [Gpac Release Branches](https://tyktech.atlassian.net/wiki/spaces/EN/pages/1907228677/Release+branches#%5CuD83D%5CuDCD8-Instructions)
{{ end -}}
