{{ define "sync" }}
These changes should be limited to `.github/workflows/sync-automation.yml` file. This workflow is triggered when commi

For more information about gpac and release branches please go to [Gpac Release Branches](https://tyktech.atlassian.net/wiki/spaces/EN/pages/1907228677/Release+branches#%5CuD83D%5CuDCD8-Instructions)
{{ end -}}
