{{define "publishers"}}
publishers:
  - name: {{ .PCRepo }}-unstable
    env:
      - PACKAGECLOUD_TOKEN={{`{{ .Env.PACKAGECLOUD_TOKEN }}`}}
      - REPO=tyk/{{ .PCRepo }}-unstable
      - RPMVERS={{`{{ .Env.RPMVERS }}`}}
      - DEBVERS={{`{{ .Env.DEBVERS }}`}}
    cmd: /pc.sh {{`{{ .ArtifactPath }}`}}
{{end}}
