{{define "builds"}}
builds:
  - id: std
    ldflags:
      - -X {{.Branchvals.VersionPackage}}.VERSION={{`{{.Version}}`}} -X {{.Branchvals.VersionPackage}}.Commit={{`{{.FullCommit}}`}} -X {{.Branchvals.VersionPackage}}.buildDate={{`{{.Date}}`}} -X {{.Branchvals.VersionPackage}}.builtBy=goreleaser
    goos:
      - linux
    goarch:
      - amd64
      - arm64
      - s390x
    binary: {{.Binary}}
{{end}}

