{{ define "smoke-tests" }}
{{- $uprepo := .Branchvals.Builds.std.UpgradeRepo }}
{{- $pcname := .PackageName }}
{{- $fromVer := .Branchvals.UpgradeFromVer }}
  test-controller-distros:
    needs:
      - goreleaser
    if: |
      !cancelled() &&
      needs.goreleaser.result == 'success' &&
      github.event.pull_request.draft == false
    runs-on: {{`${{ vars.DEFAULT_RUNNER }}`}}
    outputs:
      deb: {{`${{ steps.params.outputs.deb }}`}}
      rpm: {{`${{ steps.params.outputs.rpm }}`}}
      rpm_amd64: {{`${{ steps.params.outputs.rpm_amd64 }}`}}
    steps:
      - name: Set distro matrix
        uses: TykTechnologies/github-actions/.github/actions/tests/distro-matrix@production
        id: params

  upgrade-tests:
    needs:
      - test-controller-distros
    uses: TykTechnologies/github-actions/.github/workflows/upgrade-tests.yml@production
    with:
      deb: {{`${{ needs.test-controller-distros.outputs.deb }}`}}
      rpm: {{`${{ needs.test-controller-distros.outputs.rpm }}`}}
      rpm_amd64: {{`${{ needs.test-controller-distros.outputs.rpm_amd64 }}`}}
      package_name: {{ $pcname }}
      upgrade_repo: {{ $uprepo }}
      from_ver: {{ $fromVer }}
      runs_on: {{`${{ vars.DEFAULT_RUNNER }}`}}
      run_gateway_tests: {{ eq .Name "tyk" }}

  {{- if has "release-test" .Branchvals.Features }}
  release-tests:
    needs:
      - goreleaser
    if: |
      !cancelled() &&
      needs.goreleaser.result == 'success'
    permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
      actions: read    # This is required for the report_logs job in the called workflow
    uses: ./.github/workflows/release-tests.yml
    secrets: inherit
  {{ end }} {{/* release-test */}}
{{ end }} {{/* smoke-tests */}}
