{{ define "auto-test" }}
{{ $REPO := .Name }}
{{ range $test := .Branchvals.Tests }}
  test-controller-{{ $test }}:
    needs: goreleaser
    runs-on: ubuntu-latest-m-2
{{ template "test-controller" (dict "test" $test "repo" $REPO) }}
  {{ $test }}-tests:   
    needs: [ goreleaser, test-controller-{{ $test }}]
    runs-on: ubuntu-latest-m-2
    {{ template "tests" (dict "test" $test "repo" $REPO) }}
{{ end }} {{/* End of range */}}
{{ end }} {{/* End of auto-test */}}
