{{ define "auto-test" }}
{{ $REPO := .Name }}
{{ range $test := .Branchvals.Tests }}
{{ template "test-controller" (dict "test" $test) }}
  {{ $test }}-tests:   
    needs: [ goreleaser, test-controller-{{ $test }}]
    {{ template "tests" (dict "test" $test "repo" $REPO) }}
{{ end }} {{/* End of range */}}
{{ end }} {{/* End of auto-test */}}
