{{ define "test-controller" }}
    container: tykio/gromit:v1.8
    outputs:
      conf: {{`${{ steps.params.outputs.`}}{{ .test }}{{`_conf }}`}}
      db: {{`${{ steps.params.outputs.`}}{{ .test }}{{`_db }}`}}
      cache_db: {{`${{ steps.params.outputs.`}}{{ .test }}{{`_cache_db }}`}}
      pump: {{`${{ steps.params.outputs.pump }}`}}
      sink: {{`${{ steps.params.outputs.sink }}`}}
      gd_tag: {{`${{ steps.params.outputs.gd_tag }}`}}
      versions: {{`${{ steps.params.outputs.versions }}`}}
      exclude: {{`${{ steps.params.outputs.exclude }}`}}

    steps:
      - name: set params
        id: params
        env:
          REPO: {{`${{ github.repository }}`}}
          # Cover pull_request_target too
          BASE_REF: {{`${{startsWith(github.event_name, 'pull_request') && github.base_ref || github.ref}}`}}
          TAGS: {{`${{ needs.goreleaser.outputs.tags }}`}}
          IS_PR: {{`${{startsWith(github.event_name, 'pull_request') && 'yes' }}`}}
          IS_TAG: {{`${{startsWith(github.ref, 'refs/tags') && 'yes' }}`}}
          JOB: {{ .test }}
        run: gromit policy controller --loglevel debug | tee -a "$GITHUB_OUTPUT"
{{ end }}